.header {
    background-color:  #feffac;
    color: #fff;
    text-align: center;
    height: 125px;
}

.imgfix2 {
  min-width: 10px;
  height: 125px;
}
/* HERO IMAGE LARGE CSS */

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("imgs/workbench.jpeg");

  /* Set a specific height */
  height: 85vh;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  font-size: 36px;
  vertical-align: center;
  text-align: center;
  position: relative;
  top: 15%;
  color: white;
  width: 100%;
  
}

.fontsize {
  font-size: 10vw;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.fontsize2 {
  font-size: 6vw;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

/*END OF HERO IMG CSS*/

/* HERO IMAGE SMALL CSS */

/* The hero image */
.hero-image2 {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("imgs/workbench.jpeg");

  /* Set a specific height */
  height: 85vh;
  width: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text2 {
  font-size: 3vw;
  vertical-align: center;
  text-align: center;
  position: relative;
  top: 20%;
  color: white;
  width: 100%;
}

.btnstyle1 {
  border-radius: 10px 10px 10px 10px;
  background-color: #ff914d;
  border:solid white 2px;
}

/*END OF HERO IMG CSS*/

/* CSS FOR NAV */
*,
*:before,
*:after {
  box-sizing: border-box;
}

:after {
  content: "";
}

section {
  position: relative;
  left: 100px;
}   

nav {
  float: left;
  position: fixed;
  top: 17.5%;
  left: -32.5px;
  background: transparent;
  padding: 100px 0;

  color: white;
  max-width: 640px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-smoothing: anti-aliased;
}

nav ul {
  text-align: center;
}

nav ul li {
  position: relative;
  width: 70px;
  cursor: pointer;
  background: #ff914d;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
}

nav ul li:after {
  position: absolute;
  background: white;
  color: #ff914d;
  top: 0;
  left: 70px;
  width: 70px;
  height: 100%;
  opacity: 0.5;
  transform: perspective(400px) rotateY(90deg);
  transform-origin: 0 100%;
  transition: all 0.4s ease-out;
}

nav ul li:nth-child(1):after {
  content: "Home";
  line-height: 88px;
  
}
nav ul li:nth-child(2):after {
  content: "About";
  line-height: 110px;
}
nav ul li:nth-child(3):after {
  content: "Toys";
  line-height: 125px;
}
nav ul li:nth-child(4):after {
  content: "Contact";
  line-height: 60px;
}

nav ul li:hover {
  transform: translateX(-70px);
}

nav ul li:hover:after {
  opacity: 1;
  transform: perspective(400px) rotateY(0deg) scale(1);
}

nav ul li > div {
  display: inline-block;
  padding: 25px 0;
  background: transparent;
}

nav ul li div {
  position: relative;
}

.roof {
  width: 0;
  height: 0;
  top: 2px;
  border-style: solid;
  border-width: 0 21px 15px 21px;
  border-color: transparent transparent #ffffff transparent;
}

.roof-edge {
  position: absolute;
  z-index: 20;
  left: -17px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 12px 17px;
  border-color: transparent transparent #ff914d transparent;
}
/*white triangle over red triangle*/
.roof-edge:after {
  position: absolute;
  left: -14.5px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14.5px 10px 14.5px;
  border-color: transparent transparent white transparent;
}

.front {
  position: relative;
  top: 3px;
  width: 28.5px;
  height: 20px;
  margin: 0 auto;
  background: white;
}
/*door*/
.front:after {
  position: absolute;
  background: #ff914d;
  width: 11px;
  height: 13px;
  bottom: 0;
  left: 9px;
}

/*/// About me ////*/

/*//Gallery//*/
.imgfix {
  width: 100%;
  height: 100%;
}

/*//mail //*/

.mail-base {
  position: relative;
  width: 32px;
  height: 18px;
  background: white;
}

.mail-top {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  transform: rotate(180deg);
  border-style: solid;
  border-width: 0 16px 11px 16px;
  border-color: transparent transparent #ff914d transparent;
}

.mail-top:after {
  position: absolute;
  z-index: 20;
  left: -16px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 16px 9px 16px;
  border-color: transparent transparent white transparent;
}

body {
  background-color: #cf9068;
  color: white;
}

.textfont {
  font-weight: 200;
  font-style: normal;
}

/* CODE FOR QUOTE SLIDESHOW, FROM W3SCHOOLS */

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
  z-index: -1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
  z-index: -1;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
  z-index: -1;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: -1;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
  z-index: -1;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
  color: black;
  z-index: -1;
  font-size: 20px;
}

/* Add a blue color to the author */
.author {color: cornflowerblue; z-index: -1;}

.headersect {
  font-family: "Poetsen One", sans-serif;
  font-weight: 250;
  font-style: normal;
}

hr {
  border: none;
  height: 3px;
  background-color: white;
  opacity: 1;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ff914d;
  background-color: rgba(0, 0, 0, 0); /* Black w/ opacity */;
}

/* Modal Content/Box */
.modal-content {
  background-color: #ff914d;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px solid #ff914d;
  width: 80%; /* Could be more or less, depending on screen size */
  color: white;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a.learn-more-btn {
  text-decoration: none;
  border: 2px solid #ff914d;
  background: #ff914d;
  color: white;
  border-radius: 4px;
}

a.learn-more-btn:hover {
  box-shadow: 0vw 0vw 2vw #eca376;
}